:root{
    --color-principal:#7cd5d1;
    --social-app-bg:#e9e7ea;
    --copy-bg: #36393f;
    --font: #FFFFFF;
    --noti-bg:rgba(255, 255, 255, 0.548);
    --noti-border:#17a2b8;
    --carrousel-item-bg:rgb(0, 0, 0);
    --carrousel-item-font:white;
    --normal-text:#9556cc;
    --btn-start-bg: #9556cc;
    --btn-start-hover:#007bb6;
    //header
    --nav-top-li-a-bg: rgb(82, 78, 83);
    --nav-top-li-a-border: black;
    --nav-hover: #1291b8 ;

    --info-carru-bg:rgba(0, 0, 0, 0.27);
}
.btn-pedidos{
    color: var(--color-principal);
    border-color: var(--color-principal);
}
.social_app{
    display:block;
    background: var(--social-app-bg);
    content: center;
}
.tittle >div{
    color:var(--color-principal);
    vertical-align: middle;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
}
.content > div{
    padding: 20px;
    display: block;
    justify-content:center;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.nameC>h4::first-letter{
    text-transform: uppercase;
} 
.likes{
    width: 40px;
    border-radius: 50%;
}
.footer{
    //width: 100%;
    background:var(--color-principal);
   // position: fixed;
   // bottom: 0;
   
}
.principalF{
   padding:5px;
   margin:0 auto;
}
.principalF>a>img{
    margin:0 1rem;
    max-width: 30px;
}
.container-app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.App{
 flex: 1;
}
.areaW{
    display: block;
    padding: 10px;
    width:90%;
    background:var(--color-principal);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.copyright-bar{
    background: var(--copy-bg);
    color:  var(--font);
    text-align: center;
    padding: 5px;
}
.copyright{
    margin: auto;
    font-size:  12px;
}

.estadisticas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
//Notificaciones
.pop-notification{
    position: absolute;
    top: 50%;
    right:50%;
    background: var(--noti-bg);
    border:solid 1px var(--noti-border);
    backdrop-filter: blur(2px);
    z-index: 1001;
    transition: 1s;
}
// BANNER
.img-logo {
    padding: 1px;
    width: 63px;
    margin:0 auto;
  }
.img-carousel{
    padding: 1px;
    width: 200px;
}
.carousel-item{
    height: 30rem;
    background: var(--carrousel-item-bg);
    color: var(--carrousel-item-font);
    background-position:center;
    background-size:auto;
}
.overlay-text{
    color: var(--carrousel-item-font);
    position:absolute; 
    top:100px; 
    Left:50px;
    font-weight: lighter;
}
.normal-text{

    color: var(--normal-text);
    font-weight: bold;
    margin: auto;
    width: 50%;
    padding: 10px;

}
.normal-img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width:150px;

}
.overlay-image{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    // background-image: url("./cake3.png");
}

.btn-start{
    background-color: var(--btn-start-bg);
    color: var(--font);
    padding: 8px 40px;
    width: 100%;
    font-size: 15px;
    opacity: 1;
    margin-top: 50px;
    border: 0px;
    transition:0.2s; 
    text-align: center;
}
.btn-start:hover{
    background-color: var(--btn-start-hover) ;
    color: var(--font);
    padding: 13px 150px;
    position: sticky;
    top:0;
}

// HEADER
.jumbotron-header{
    background-color: var(--color-principal);
    background-size: auto 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.containder-jumbotron-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btname-user{
    font-weight: bold;    
    font-family: "Homer Simpson UI";
}
ul, ol{
    list-style: none;
}
.list{
    margin: 0px;
    padding: 0px;    
}
.topnav{        
    margin: 0px;
    padding: 0px;     
}

.topnav li a{
    text-decoration: none;
    color: var(--font);
    background-color: var(--nav-top-li-a-bg);  
    display: block;
    margin-left: -80px;     
    padding-left: 20px;     
    padding-right: 20px;  
    text-align: center;  
    border-color: var(--nav-top-li-a-border); 
    z-index: 1000;
}

.topnav li input{
    text-decoration: none;
    display: block;
}

.topnav li a:hover{
    background-color: var(--nav-hover);       
}
.topnav li ul{
    display: none;    
    position: absolute;  
} 

.topnav li:hover > ul{
    display: block;
}

.arrow{
    background-color: var(--color-principal);
    border:none;
    width: 15px;
}

.menubtn{
    margin: auto 0; 
}

.info-carousel{
   backdrop-filter: blur(4px);
   background-color: var(--info-carru-bg);
   position:absolute;
   top:0;
   max-width: 80%;
   height: 100%;
   margin:0 10%;
   align-items: center;
}
