.modal-backdrop {
  z-index: 0;
}
.modals{
  background-color: var(--color-principal);

}
.modalText{

  color:var(--color-outline);
  font-weight: bold;
  font-family: "Montserrat",sans-serif ;
}

.swal-button {
  background: rgb(122, 110, 3);
}
